/* Fullscreen background for the logo screen */
.logo-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #fff7ed, #fef3c7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.logo {
  width: 200px; /* Adjust the size of the logo */
  height: auto;
  animation: logoAnimation 3s ease-in-out;
}

@keyframes logoAnimation {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
